<html>

<head xmlns:th="http://www.thymeleaf.org">
<title>理解度確認テストWebアプリ</title>
<meta charset="utf-8" name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<!-- CSSの読み込み -->
<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
<link type="text/css" rel="stylesheet" href="./css/gips.css">
<!-- JSの読み込み -->
<script type="text/javascript" src="./js/jquery-3.5.1.min.js" defer="defer"></script>
<script type="text/javascript" src="./js/bootstrap.min.js" defer="defer"></script>
</head>

<body>

	<!-- フッタ -->
	<footer class="footer-small bg-dark">
		<div class="container">
			<div class="row text-center">
				<div class="col" id="copywrite">
					<p>© 2019 Solid Communication Inc. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>