<html xmlns:th="http://www.thymeleaf.org">
<!-- ヘッダ -->
<header class="bg-dark">
	<nav class="navbar navbar-expand-md no-gutters">
		<div>
			<h1><a class="nav-link kakunin" href="/interface">理解度確認テスト</a></h1>
		</div>
		<div>
			<ul class="navbar-nav justify-content-center">
				<li><a class="nav-link" href="/login" id="linkLogin">ログイン</a></li>
				<li><a class="nav-link" href="/logout" id="linkLogout">ログアウト</a></li>
			</ul>
		</div>
	</nav>
	<script type="text/javascript" th:inline="javascript">
		// ビューがロードされたら起動するイベントリスナー
		window.addEventListener('load', function() {
			// コンソール表示
			console.log('起動しました');

			// modelオブジェクトに追加したserNameの値を取得する
			var name = /*[[${userName}]]*/

			// functionの呼び出し
			headerCheck(name);
		})

		//セッションがあった場合の処理を行うfunction
		function headerCheck(name) {

			let inversion1 = document.getElementById('linkLogin');
			let inversion2 = document.getElementById('linkLogout');

			// セッションがnullでなければ
			if (!(name == null)) {

				// ゲストユーザ用のリンクを隠す
				inversion1.style.visibility = "hidden";

				// ログインユーザ用のリンクを表示
				inversion2.style.visibility = "visible";
			}

		}
	</script>
</header>
</html>