<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>理解度確認テストWebアプリ</title>
<!-- CSSの読み込み -->
<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
<link type="text/css" rel="stylesheet" href="./css/gips.css">
<!-- JSの読み込み -->
<script type="text/javascript" src="./js/jquery-3.5.1.min.js"
	defer="defer"></script>
<script type="text/javascript" src="./js/bootstrap.min.js" defer="defer"></script>
</head>
<body>
	<!-- 共通ヘッダ -->
	<div th:replace="header"></div>

	<div class="container">
		<ul class="navbar-nav justify-content-center interfaceList">
			<!-- ログイン中ユーザ名 -->
			<li id="loginUser1"><span>ユーザネーム：</span><a data-th-text="${userName}"></a></li>

			<!-- ログイン画面遷移リンク -->
			<li id="guestUser1"><a href="/login">ログイン</a></li>

			<!-- インターフェース画面遷移リンク(セッション削除) -->
			<li id="loginUser2"><a href="/logout">ログアウト</a></li>

			<!-- 新規登録画面遷移リンク -->
			<li id="guestUser2"><a href="/register">新規登録</a></li>

			<!-- 出題画面遷移リンク -->
			<li><a href="/questions">解答スタート</a></li>

			<!-- ランキング画面遷移リンク -->
			<li><a href="/ranking">ランキング</a></li>
		</ul>
	</div>

	<!-- 共通フッタ -->
	<div th:replace="footer"></div>
</body>

<script th:inline="javascript" type="text/javascript">
	// ビューがロードされたら起動するイベントリスナー
	window.addEventListener('load', function() {

		// medelオブジェクトの値を取得
		var name = /*[[${userName}]]*/

		// functionの呼び出し
		loginCheck(name);
	})

	// セッションがあった場合の処理を行うfunction
	function loginCheck(name) {

		let inversion1 = document.getElementById('guestUser1');
		let inversion2 = document.getElementById('guestUser2');
		let inversion3 = document.getElementById('loginUser1');
		let inversion4 = document.getElementById('loginUser2');

		// セッションがnullでなければ
		if (name != null) {

			// コンソール表示
			console.log('起動しました');

			// ゲストユーザ用のリンクを隠す
			inversion1.style.display = "none";
			inversion2.style.display = "none";

			// ログインユーザ用のリンクを表示
			inversion3.style.display = "block";
			inversion4.style.display = "block";
		}
	}
</script>

</html>