<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>ユーザ登録</title>
<meta charset="utf-8" name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<!-- CSSの読み込み -->
<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
<link type="text/css" rel="stylesheet" href="./css/gips.css">
<!-- JSの読み込み -->
<script type="text/javascript" src="./js/jquery-3.5.1.min.js"
	defer="defer"></script>
<script type="text/javascript" src="./js/bootstrap.min.js" defer="defer"></script>
</head>

<body>
	<!-- 共通ヘッダ -->
	<div th:replace="header"></div>
	<!-- メッセージ表示 -->
	<div id="message_area"></div>

	<section class="fdb-block py-0 sectionHeight">
		<div class="container my-2">

			<!-- ここにHTMLをかく -->
			<div class=" row justify-content-center"></div>
			<div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
				<div class="row">
					<div class="col">
						<h1>ユーザー登録</h1>
						<p class="lead">次の項目を入力してください。</p>
						<p data-th-text="${msg}"></p>
					</div>
				</div>
				<form method="post" action="/registerUser" id="formid"
					data-th-object="${userForm}">
					<div class="row">
						<div class="col mt-4">
							<p>・ユーザーネーム</p>
							<input type="text" data-th-field="*{userName}" id="inputName"
								class="form-control" placeholder="ユーザネーム" required>
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<p>・パスワード</p>
							<input type="password" data-th-field="*{password1}"
								id="inputPassword1" class="form-control" placeholder="4～10文字">
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<p>・パスワード(確認)</p>
							<input type="password" data-th-field="*{password2}"
								id="inputPassword2" class="form-control" placeholder="4～10文字">
						</div>
					</div>
					<div class="row">
						<div class="col mt-4">
							<button class="btn btn-secondary" type="submit" id="btn">登録</button>
							<button class="btn btn-secondary" type="button"
								onclick="location.href='http://localhost:8080/'">戻る</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</section>

	<!-- 共通フッタ -->
	<div th:replace="footer"></div>

	<script type="text/javascript" src="js/register.js"></script>
</body>


</html>